 

.main{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    margin-top: 3px;
}
.form-container{
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgba(0, 0, 0, 0.378);
    box-shadow:  0 0 20px rgba(0,0,0,0.5); 
    width: 90vh;
    height: 90vh;
    border-radius: 1em;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}
.email{
    background-color: white;
}
#email-box,#password-box{
    width: 30vw;
}
.signin{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 32vw;
}
#createaccount{
    text-decoration: none;
}
 #fpassword{
    width: 13vw;
    color: blue;
} 
#email-box,#password-box{
    width: 30vw;

}
.image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:400px) and (max-width:600px)
{
    .signin{
        display: flex;
        flex-direction: column;
    }
    .form-container{
   justify-content: none;
    }
}
@media (min-width:600px) and (max-width:800px)
{
    .signin{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
}



















